p{
  font-family: Montserrat;
}

.body{
  background-color: rgb(42, 42, 42);
}

.key{
  width: 80px;
}

.empty{
  display: flex;
  width: 200px;
}

.Header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.password{
  color: white;
  font-family: Arial;
  font-size: 45px;
  padding: 16px;
}

.generator_string{
  font-size: 25px;
  font-family: Montserrat;
  color: #41c28a;
}

.button1{
  border-color: #41c28a;
  background-color: rgb(42, 42, 42);
  color:#41c28a;
  border-style: solid;
  cursor: pointer;
  height:55px;
  width:55px;
  border-radius: 55px;
  font-size: 27.5px;
  font-weight: bold;
  font-family: Impact;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s,
              color 0.15s;
}

.button1:hover{
  background-color:#41c28a;
  color: white;
}
.button1:active{
  opacity: 0.7;
}

.input_pass{
  font-size: 25px;
  color: white;
}

.input_box{
  width: 65px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}

.output_box{
  width: 500px;
  height: 45px;
  border: 2px solid rgb(255, 255, 255);
  margin-left: 5px;
  font-size: 25px;
  color: white;
  padding-left: 35px;
  padding-top: 10px;
  border-radius: 10px;
}

.flex_box_main{
  display: block;
}
.flex_box{
  display: flex;
  align-items: center;
  color: white;
}

.flex_box1{
  display: flex;
  align-items: center;
}

.flex_box2{
  display: flex;
  align-items: center;
}

.text_conv{
  background-color: #47CF95;
  border-style: none;
  padding: 16px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  margin-left: 15px;
  transition: padding 0.15s,
              background-color 0.15s;
}

.text_conv:hover{
  padding-left: 35px;
  padding-right: 35px;
}

.text_conv:active{
  background-color: #39a878;
}


.File_name{
  display: inline-block;
  align-items: center;
  width: 465px;
}

.filename_txt{
  font-size: 25px;
  margin-right: 14px;
  margin-bottom: 5px;
  color: white;
}

.string_file{
  margin-top: 12px;
  background-color: rgb(42, 42, 42);;
  width: 375px;
  height: 35px;
  font-size: 20px;
  border-style: solid;
  border-radius: 12px;
  padding-left: 12px;
  border-width: 2px;
  border-color: white;
  color: white;
}

.Pass_size{
  width:400px
}